<p id="notice"><%= notice %></p>

<div class="panel panel-default">

<div class="panel-heading">user</div>

<div class="panel-body">


<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


</div>

<div class="panel-footer">

<%= link_to 'Edit', edit_user_path(@user) ,class:"w3-button w3-teal w3-margin-bottom" %> |
<%= link_to 'Back', users_path , class:"w3-button w3-teal w3-margin-bottom" %>

</div></div>
