<p id="notice"><%= notice %></p>

<div class="panel panel-default">

<div class="panel-heading">cart</div>

<div class="panel-body">
<ul>
	  <% @cart.line_items.each do |item| %>
	    <li><%= item.product.title %></li>
	  <% end %>
	</ul>

</div>

<div class="panel-footer">

<%= link_to 'Edit', edit_cart_path(@cart) ,class:"w3-button w3-teal" %> |
<%= link_to 'Back', carts_path , class:"w3-button w3-teal" %>

</div></div>
