<!DOCTYPE html>
<html>
  <head>
    <title>Quote App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-teal">
    
    
    </div>
     <div class="w3-container w3-twothird w3-display-topmiddle w3-margin-top">
      <div class="w3-container w3-white w3-margin-top">
      <div class="w3 text-center">
  <a href="#"><h2 class="w3-text-brown">Quotes App</h2></a>


<div class="w3-bar-item w3-blue-grey ">
  <div class="w3-text-white">
   
    <a class="w3-bar-item w3-button w3-text-lime" href="/static_pages/home">Home</a>
      <a class="w3-bar-item w3-button w3-text-lime" href="/quotes">Quotes</a>
      <a class="w3-bar-item w3-button w3-text-lime" href="/static_pages/help">Help</a>
      <a class="w3-bar-item w3-button w3-text-lime" href="/static_pages/about">About</a>
</div>
</div>
    <div>
    <%= yield %>
    
    </div>
    </div>
    </div>
  </body>
</html>
